<!DOCTYPE html>
<html lang="en">
<head>
    <title>class</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/2063960ced.js" crossorigin="anonymous"></script>
    
</head>
<body class="container">
    <header>
        <div class="crossbar-header">
            <div class="waffle-header">
                <a href="#"><button class="ts-waffle-button"><i class="fas fa-bars"></i></button></a>
                <span>Anh Nguyen</span>
            </div>
            <div class="search">
                <i class="fas fa-search"></i>
                <input type="text" placeholder="Search">
            </div>
            <div class="powerbar-profile">
                <a href="#"><p class="powerbar"><i class="fas fa-ellipsis-h"></p></i></a>
                <a href="#"><button><img class="profile" src="image/profile.jpg" alt="profile"></button></a>
            </div>
        </div>
    </header>
    <section class="body">
        <div class="menu">
            <a href="#"><button style=" top: 0;"><i class="far fa-list-alt"></i><br>Question Bank</button></a>
            <a href="#"><button style=" top: 8vh;"><i class="fas fa-comment-dots"></i><br>Chat</button></a>
            <a href="#"><button style=" top: 16vh;"><i class="fas fa-users"></i><br>Group</button></a>
<!--                <a href="#"><button><i class="fas fa-book-reader"></i><br>Bài tập</button></a>-->
<!--                <a href="#"><button><i class="far fa-calendar-alt"></i><br>Lịch</button></a>-->
            <a href="#"><button style=" top: 24vh;"><i class="fas fa-phone-alt"></i><br>Call</button></a>
            <a href="#"><button style=" top: 32vh;"><i class="fas fa-tv"></i><br>Stream</button></a>
            <a href="#"><button style=" top: 40vh;"><i class="far fa-file"></i><br>Foler</button></a>
            <a href="#"><button style=" top: 48vh;"><i class="fas fa-ellipsis-h"></i></button></a>
            <a href="#"><button style=" bottom: 13vh;"><i class="fab fa-buromobelexperte"></i><br>App</a></button>
            <a href="#"><button style=" bottom: 5vh;"><i class="far fa-question-circle"></i><br>Help</a></button>
        </div>
        <div class="list">
            <div class="topic">
                <div><span>Topic:</span></div>
                <select>
                    <option>A</option>
                    <option>B</option>
                    <option>C</option>
                </select>
            </div>
            <div class="type">
                <div>Type:</div>
                <select>
                    <option>Multiple-C</option>
                    <option>a</option>
                    <option>b</option>
                </select>
            </div>
            <div class="level">
                <div>Level:</div>
                <select>
                    <option>Easy</option>
                    <option>Medium</option>
                    <option>Hard</option>
                </select>
            </div>
            <div class="doc">
                <div>Doc:</div>
                <select>
                    <option>Tài liệu 1</option>
                    <option>Tài liệu 2</option>
                    <option>Tài liệu 3</option>
                </select>
            </div>
            <div class="list-MSSV">
                <select multiple size="16">
                    <option onmouseover="over()" onmouseout="out()">20191519</option>
                    <option type="button" ondblclick="document.getElementById('myImage').style.display = 'block'" onclick="document.getElementById('myImage').src='image/laptop2.jpg'">Laptop</option>
                    <option type="button" onclick="document.getElementById('myImage').src='image/hinh-nen-may-tinh.jpg'">Hình nền</option>
                    <option type="button" onclick="document.getElementById('myImage').src='image/laptop.jpg'">Working</option>
                    <option>20195793</option>
                    <option>20196281</option>
                    <option>20193214</option>
                    <option>20192464</option>
                    <option>20193464</option>
                    <option>20196523</option>
                    <option>20193254</option>
                    <option>20191324</option>
                    <option>20191444</option>
                    <option>20195342</option>
                    <option>20192461</option>
                    <option>20191253</option>
                    <option>20193153</option>
                    <option>20195315</option>
                    <option>20194123</option>
                    <option>20193412</option>
                    <option>20195231</option>
                    <option>20191341</option>
                    <option>20191244</option>
                    <option>20195232</option>
                    <option>20191241</option>
                    <option>20194865</option>
                    <option>20192167</option>
                </select>
            </div>
            
        </div>
        <div class="Image">
            <img id="myImage" src="image/laptop.jpg">
        </div>
        <!-- <div id="info">
            <div class="header-info">
                <div class="left"><img class="image-info" src="image/profile.jpg"></div>
                <div class="right">
                    <p>DO DUC HUNG 20191519</p>
                    <span>EE1 (2019)</span>
                </div>
            </div>
            <div class="contact-icons">
                <i class="far fa-comment-dots"></i>
                <i class="fas fa-bezier-curve"></i>
                <i class="fas fa-video"></i>
                <i class="fas fa-phone-alt"></i>
            </div>
        </div> -->
    </section>
    <script type="text/javascript"> 
        function over() { 
            document.getElementById('info').style.display= 'block'; 
        } 
        function out() { 
            document.getElementById('info').style.display = 'none'; 
        }
        function click(){
            document.getElementById('myImage').style.display = 'block';
        } 
    </script>
    <button onclick="document.getElementById('myImage').src='image/laptop.jpg'">Turn on the light</button>
    <button onclick="document.getElementById('myImage').src='image/laptop2.jpg'">Turn off the light</button>
</body>
</html>